/*
papaya (red) #E24E42

mustard (yellow) #E9B000

blush (pink) #EB6E80

Aqua (blue) #008F95
*/

body{
	background-color:#EB6E80;

}

#navigation{

	background-color:#E24E42 !important;

}

h2{
	
	text-align:left;
	color: #707070;
	font-size: 60px;
	font-weight: normal;
	font-family:Verdana;
	
}

main{
	
	
	display:flex;
	justify-content: center;
	align-items: center;
	width:100%;
	flex-wrap: wrap;
	
	
}

main > form{

	display:flex;
	flex-direction: row;
	flex-grow:1;
	height:50vh;
	justify-content: center;
	align-items: center;
	margin:25px;
}

main > form > div, #maincontent{
	
	padding:10px;
	display:flex;
	flex-direction: column;
	flex-grow:1;
	margin:25px;
	background-color:white;
	height:100%;
	border-radius:25px;
	border:2px #008F95 solid;
	box-shadow: 10px 10px #E24E42;

	
}

.formStuff{
	
	margin-top:5px;
	margin-bottom:5px;
	
}

#applyChanges{

	padding:15px;
	flex-direction:row;

}

#applyChanges > div{

	flex-grow:1;
	border:1px black solid;

}


#pictures{
	
	padding:15px;
	flex-direction:row;
	
}

#pictures > div{
	
	flex-grow:1;
	border:1px black solid;
	
}

#littlePictures{
	width:50%;
	flex-direction:column;
	
}

#littlePictures > div{
	
	height:50%;
	flex-grow:1;
	border:1px black solid;
	
}

#buttons{

	justify-content: center;
	align-items: center;

	
}

.btn btn-success{
	background-color:#00b3b3 !important;
}

.btn btn-danger{
	background-color: #ccffff !important;
}

#buttons > button{

	margin:35px;

}

.flexBreak{
	
	flex-basis:100%;
	height:0;
	
}

#buttons2 > button {
	margin:35px;
	margin-right: 1000px;
}

#cancel-button{

	background-color:blue;
	border-color:blue;
}



