{% load static %}
{% load static %}<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>


    <style>
			body{

				background-image: url('{% static "img/background2.jpg" %}');

			}
			#maincontent{

				flex-grow:0;
				flex-basis:800px;
				text-align: center;
				align-content: center;

			}
			#flex-container {
                text-align: center;
             }
             #flex-container-alignleft-slim {
                text-align: left;
                width: 40%;
             }


    </style>
    <title>Meetdaroomie | About Us</title>
</head>

<body>

<nav id="navigation" class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand" href="/">Meetdaroomie <img src='{% static "img/logo2.png" %}' alt="MDR" logo/></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>

                {% if user.is_authenticated == False %}
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Log In</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'signup' %}">Register</a>
                    </li>
                {% endif %}
                

                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="/find_roommates">Find Roommates</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/my_profile">My Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/matches">Your Matches</a>
                    </li>

                {% endif %}
                <li class="nav-item">
                    <a class="nav-link active" href="/about_us">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact_us">Contact Us</a>
                </li>
            </ul>

                {% if user.is_authenticated %}
                    <ul class="navbar-nav mr-auto navbar-right" style="margin-left: auto; margin-right: 0;">
                        <li class="nav-item">
                            <a class="nav-link" href="/my_profile"> User: {{user.username}}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
                        </li>
                    </ul>
                {% endif %}
    </div>
</nav>


<main>
    <div id="maincontent">
        <p><span style="font-size: 40px;"><b>About Us</b></span></p>
        <br/>
        <h4>Meetdaroomie was created to allow people to find their perfect roomie!</h4>
        <p>Inspiried by tinder.</p>

        <p><span style="font-size: 40px;"><b>Location</b></span></p>
        <br/>
        <h4>We are located at George Mason University in Fairfax, Virginia!</h4>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3108.115484248073!2d-77.30955464852457!3d38.82981595842879!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89b64e607b427ebd%3A0xd766a653e6557544!2sGeorge%20Mason%20University!5e0!3m2!1sen!2sus!4v1582675050733!5m2!1sen!2sus"
                width="800" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>

        <p><span style="font-size: 40px;"><b>Group Members</b></span></p>
        <h4>Aiden</h4>
        <h4>Zane</h4>
        <h4>Amaal</h4>
        <h4>Jac</h4>
        <h4>Hunter</h4>
        <h4>Jong</h4>
        <h4>James</h4>

        <p><span style="font-size: 40px;"><b>Other Information</b></span></p>
        <p>This web application is a project built by Information Technology students at George Mason University, and was created for IT 390.001, Rapid Development of Scalable Cloud Applications </p>
    </div>


</main>

</body>

</html>
