{% load static %}
<html>

<head>


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">


    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>

    <style>



			body{

				background-image: url('{% static "img/background2.jpg" %}');

			}

			#text-information{
				
				flex-grow:0;
				flex-basis:800px;

			}

			main > form{

				height:unset;

			}


    </style>
    <title>Meetdaroomie | Search Page</title>
</head>


<body>

<nav id="navigation" class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand" href="/">Meetdaroomie <img src='{% static "img/logo2.png" %}' alt="MDR" logo/></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>

                {% if user.is_authenticated == False %}
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Log In</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'signup' %}">Register</a>
                    </li>
                {% endif %}
                
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link active" href="/adjust_search">Adjust Search</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/find_roommates">Find Roommates</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/my_profile">My Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/matches">Your Matches</a>
                    </li>

                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="/about_us">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact_us">Contact Us</a>
                </li>
            </ul>

                {% if user.is_authenticated %}
                    <ul class="navbar-nav mr-auto navbar-right" style="margin-left: auto; margin-right: 0;">
                        <li class="nav-item">
                            <a class="nav-link" href="/my_profile"> User: {{user.username}}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
                        </li>
                    </ul>
                {% endif %}
    </div>
</nav>


<main>

    <form>
        <div id="text-information">
            <h2>Adjust Search</h2>
            Area:
            <input type="text" id="area" class="formstuff" placeholder="City State Zip">

            Pets:
            <select class="formStuff">
                <option value="select">Select</option>
                <option value="cat">Cat</option>
                <option value="dog">Dog</option>
                <option value="other">Bird</option>
                <option value="other">Other</option>
            </select>

            Smoker:
            <select class="formStuff">
                <option value="yes">Yes</option>
                <option value="no">No</option>
            </select>

            Gender:
            <select class="formStuff">
                <option value="Female">Female</option>
                <option value="Male">Male</option>
                <option value="Other">Other</option>
            </select>

            Price:<input type="text" id="price" class="formstuff" placeholder="Price Range">


            Age:
            <select class="formStuff">
                <option value="age_range">Select Age</option>
                <option value="18-20">18-19</option>
                <option value="20-25">20-25</option>
                <option value="26-29">26-29</option>
                <option value="30-35">30-35</option>
                <option value="36-39">36-39</option>
                <option value="40-45">40-45</option>
                <option value=">50">>50</option>

            </select>
        </div>
    </form>
    <div class="flexBreak"></div> <!--The line break for buttons-->
    <div id="buttons">

        <button id="submit-button" type="button" class="btn btn-success">Apply Changes</button>
        <button id="cancel-button" type="button" class="btn btn-danger">Discard Changes</button>


    </div>
</main>

</body>

</html>
