{% load static %}
{% load static %}<html>

<head>


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">


    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>


    <style>
			body{

				background-image: url('{% static "img/home_background.jpg" %}');

			}
			.mapouter{
				display: flex;
				text-align:right;
				flex-grow:1;

				}
			.gmap_canvas {
				display: flex;
				overflow:hidden;
				background:none!important;
				flex-grow:1;

				}

			#map{

				flex-direction:row;

			}

			#map > div{
				flex-grow:1;
			}
			#maptext{
				flex-direction:column;
			}

			#maptext > div{
				height:100%;
				flex-grow:1;
				text-align:left;

			}
			#contact {
				line-height: 1;
			}

            #text-information{
                width:30%;
            }
    </style>
    <title>Meetdaroomie | Contact Us</title>
</head>

<body>

<nav id="navigation" class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand" href="/">Meetdaroomie <img src='{% static "img/logo2.png" %}' alt="MDR" logo/></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>

                {% if user.is_authenticated == False %}
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Log In</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'signup' %}">Register</a>
                    </li>
                {% endif %}
                

                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="/find_roommates">Find Roommates</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/my_profile">My Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/matches">Your Matches</a>
                    </li>

                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="/about_us">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/contact_us">Contact Us</a>
                </li>
            </ul>

                {% if user.is_authenticated %}
                    <ul class="navbar-nav mr-auto navbar-right" style="margin-left: auto; margin-right: 0;">
                        <li class="nav-item">
                            <a class="nav-link" href="/my_profile"> User: {{user.username}}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
                        </li>
                    </ul>
                {% endif %}
    </div>
</nav>


<main>

    <form action="" method="post">
        <div id="text-information">
            <h2>Contact Form</h2>
            {{form.name.label_tag}}
            {{form.name}}
            {{form.email.label_tag}}
            {{form.email}}
            {{form.msg.label_tag}}
            {{form.msg}}
            {% csrf_token %}
            <br>
            <button id="submit-button" type="submit" class="btn btn-success">Submit</button>
        </div>

        <div id="map">

            <div id="mapcontent">
                <h3>Where to Find Us</h3>
                <div class="mapouter">
                    <div class="gmap_canvas">
                        <iframe width="auto" height="auto" id="gmap_canvas"
                                src="https://maps.google.com/maps?q=george%20mason%20university&t=&z=13&ie=UTF8&iwloc=&output=embed"
                                frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                        <a href="https://www.pureblack.de/webdesign/"></a></div>
                </div>
            </div>

            <div id="maptext">

                <div id="maptxt">
                    <h3>Contact Information</h3>
                    <p>
                        Manager: <a href="mailto:webmaster@example.com">Michael Scott</a><br>
                        Visit us at:<br>
                        Meedaroomie.com<br>
                        4450 Rivanna River Way, Fairfax, VA<br>
                        USA
                    </p>

                </div>

            </div>

        </div>
 </form>

    <div class="flexBreak"></div> <!--The line break for buttons-->



</main>

</body>

</html>
