{% load static %}
{% load static %}<html>
<head>



    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>




    <style>

            .profile {
                display:flex;
                background-color:white;
                border: 3px solid black;
                border-radius:20px;
                align-items:center;
                justify-content:center;
                flex-direction:row;
                margin:20px;
                width:80%;
                min-height:680px;


            }

            .profilebox{
				border-radius: 30px;
				background-color: white;
				font-size: 18px;
				border-radius:25px;
				border:2px #008F95 solid;
				padding:10px;
				display:flex;
				flex-direction:column;
				align-items: center;
				flex-basis:300px;
				margin:5px;


			}
            #bio {
                border: 1px solid black;
                border-radius:15px;
                text-align:center;
                min-height:110px;
                word-break:break-all

            }
			body{

				background-image: url('{% static "img/background2.jpg" %}');

			}
			img.rounded-corners{

				border-radius: 20px;
				border: solid 1px black;

			}

            #maincontent{
                position:relative;
				flex-direction:row;
				flex-wrap:wrap;
				justify-content: center;
				align-items: center;
				flex-grow:0;

			}


    </style>
    <title>Meetdaroomie | About Us</title>
</head>

<body>

<nav id="navigation" class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand" href="/">Meetdaroomie <img src='{% static "img/logo2.png" %}' alt="MDR" logo/></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>

                {% if user.is_authenticated == False %}
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Log In</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'signup' %}">Register</a>
                    </li>
                {% endif %}
                

                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link active" href="/find_roommates">Find Roommates</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/my_profile">My Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/matches">Your Matches</a>
                    </li>

                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="/about_us">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact_us">Contact Us</a>
                </li>
            </ul>

                {% if user.is_authenticated %}
                    <ul class="navbar-nav mr-auto navbar-right" style="margin-left: auto; margin-right: 0;">
                        <li class="nav-item">
                            <a class="nav-link" href="/my_profile"> User: {{user.username}}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
                        </li>
                    </ul>
                {% endif %}
    </div>
</nav>


<main>
    {% if not roomies %}
        <div id="maincontent">
            <h2>No Roomie Found!</h2><br>
        </div>
    {% endif %}

    <div class="profile">
        <div class="pagination">
            <span class="step-links">
                <span class="page-links">
                    {% if page_obj.has_previous %}
                    <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
                    {% endif %}
                </span>
            </span>
        </div>
        {% for roomie in roomies %}

            <div class="profilebox">
                <img src="{{roomie.pic.url}}" alt="Image" width="200" height="250" class="rounded-corners">
                <div id="userDetails" sytle="align:left;">
                    <h4 style="text-align:center; border-bottom:1px solid black;">{{roomie.first_name}}, {{roomie.age}}</h4>
                    <b>Area for search (Zipcode):</b> {{roomie.zip_code}}<br>
                    <b>Gender:</b> {{roomie.gender}}<br>
                    <b>Pets:</b> {{roomie.pets}}<br>
                    <b>Housing Type:</b> {{roomie.housing_type}}<br>
                    <b>Smoker:</b> {{roomie.smoke}}<br>
                    <b>Monthly Rent:</b> ${{roomie.price}}<br>
                    <b>Bio:</b> <div id="bio">{{roomie.bio}}</div>
                    <form action="" method="post" style="text-align:center; margin-top:5px;">
                        {% csrf_token %}
                        <button style=width:50%; id="submit-button" type="submit" class="btn btn-success" name="save" value="{{roomie.user.id}}">Save</button>
                        {% csrf_token %}
                    </form>
                </div>
            </div>
        {% endfor %}

        <div class="pagination">
            <span class="step-links">
                <span class="page-links">
                    {% if page_obj.has_next %}
                    <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
                    {% endif %}
                </span>
            </span>
        </div>
    </div>

</main>

</body>

</html>
