{% load static %}
{% load static %}<html>

<head>


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">


    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/css" href="static/css/style.css"/>
    <title>Meetdaroomie | My Profile</title>
</head>
<style>
            #pictures {
                margin-top:auto;
                width: 50%;
                min-height:430px;
            }
            #bio {
                margin-top: 5%;
                text-align:left;
                word-wrap: break-word;
                border: ridge;
                height:80%;
                width: 90%;
                flex-wrap:wrap;
            }
            #bigPictures {
                width:50%;
            }
            #littlePictures {
                border-left:1px solid black;
            }

            img.rounded-corners{

				border-radius: 20px;
				border: solid 1px black;

			}
			body{

				background-image: url('{% static "img/background2.jpg" %}');

			}
             input {
                height: 25px;
                width:20%;
             }

             #text-information {
                margin-top: auto;
                height:auto;
             }
             #flex-container {
                flex-wrap:wrap;
             }


</style>


<body>

<nav id="navigation" class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand" href="/">Meetdaroomie <img src='{% static "img/logo2.png" %}' alt="MDR" logo/></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>

                {% if user.is_authenticated == False %}
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Log In</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'signup' %}">Register</a>
                    </li>
                {% endif %}
                

                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="/find_roommates">Find Roommates</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link active" href="/my_profile">My Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/matches">Your Matches</a>
                    </li>

                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="/about_us">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact_us">Contact Us</a>
                </li>
            </ul>

                {% if user.is_authenticated %}
                    <ul class="navbar-nav mr-auto navbar-right" style="margin-left: auto; margin-right: 0;">
                        <li class="nav-item">
                            <a class="nav-link" href="/my_profile"> User: {{user.username}}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
                        </li>
                    </ul>
                {% endif %}
    </div>

</nav>


<main>

    <form method="post">
        <div id="text-information">
            <h3>My Profile</h3>
                <div id="flex-container">
                    <p><b>Name:</b> {{detail.first_name}} {{detail.last_name}}</p>
                    <p><b>Age:</b> {{detail.age}}</p>
                    <p><b>Zipcode:</b> {{detail.zip_code}}</p>
                    <p><b>Gender:</b> {{detail.gender}}</p>
                    <p><b>Pets:</b> {{detail.pets}}</p>
                    <p><b>Housing Type:</b> {{detail.housing_type}}</p>
                    <p><b>Smoke:</b> {{detail.smoke}}</p>
                    <p><b>Monthly Rent:</b> ${{detail.price}}</p>
                    {% if detail.first_name == None %}
                    <input type=button class ="btn btn-success" onClick="parent.location='/create_profile'" value='Create' style="height:auto;">
                    {% else %}
                    <input type=button class ="btn btn-success" onClick="parent.location='/edit_profile'" value='Edit' style="height:auto;">
                    {% endif %}
                    {% csrf_token %}
                </div>
        </div>
        <div id="pictures">

            <div id="bigPictures">
                <h3>About Myself</h3>
                <div id="bio">
                    <p>{{detail.bio}}</p>
                </div>
                {% csrf_token %}
            </div>

            <div id="littlePictures">
                {% if detail.pic %}
                <img src="{{detail.pic.url}}" class="rounded-corners" style="width:50%; heigth:auto; align:center; float:right;">
                {% endif %}
            </div>

        </div>
    </form>


</main>

</body>

</html>
