<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

        {% for i in matches %}
            <tr>
                <td> {{i.matchUser}}</td>
            </tr>
            <br>
        {% endfor %}

</body>
</html>
